player-connection-mode=Listen
player-connection-guid=1904392832
player-connection-debug=0
player-connection-project-name=Race to the Top
player-connection-ip=192.168.1.145
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=9518f55f5cfb477f98b3c95270e999eb
